* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-fonts: roboto, sans-serif;
    --main-color: #011627;
    --secondary-color: #FDFFFC;
    --terciary-color: #E8F1F2;
    --success-color: #2EC4B6;
    --error-color: #E71D36;
    --warning-color: #FF9F1C;
    --hover-color: #107653;
    --border-radius: 1em;
    --transition: all .5s ease-in-out;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    font-family: var(--body-fonts);
    background-color: var(--main-color);
    color: var(--secondary-color);
}

.header,
.footer {
    display: flex;
    padding: 1em;
}

.header {
    justify-content: space-between;
}

.header .left {
    margin-left: 4em;
}

.header .left .title {
    cursor: pointer;
    transition: var(--transition);
}

.header .left .title:hover {
    color: var(--hover-color);
}

.header .right {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4em;
}

.header .right a {
    text-decoration: none;
    color: var(--terciary-color);
    font-weight: 700;
    transition: var(--transition);
}

.header .right a:hover {
    color: var(--hover-color);
}

.footer {
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.footer .link {
    display: inline-block;
    transition: var(--transition);
    padding: 0 .5em;
    border-radius: .5em;
    color: var(--terciary-color);
    text-decoration: none;
}

.footer .link:hover {
    color: var(--main-color);
    background-color: #06bee1;
    background-image: linear-gradient(0deg, #06bee1 0%, #ffffff 50%, #06bee1 100%);
    box-shadow: 0 0 15px 0 #06BEE1;
}